/* body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
} */

/* .product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
} */

/* .form-control label,
.form-control input {
    display: block;
    width: 100%;
} */

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}